@font-face {
    font-family: 'Gilroy Regular';
    src: url('../font/Gilroy-Regular.eot');
    src: url('../font/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('../font/Gilroy-Regular.woff') format('woff'),
    url('../font/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
body{
	font-family: 'Gilroy Regular';
}
:root{
	--bs-heading-color: #414141;
	--bs-border-radius-lg:30px;
	--bs-border-radius:13px;
	--bs-body-color:#414141;
}
.accordion {
	--bs-accordion-btn-color:#060606;
    --bs-accordion-border-width: 0;
    --bs-accordion-border-radius:30px;
    --bs-accordion-inner-border-radius:30px;
    --bs-body-color: #ffffff;
    --bs-accordion-bg: #ffffff;
    --bs-accordion-active-bg:#D5635F;
    --bs-accordion-body-padding-x: 3rem;
    --bs-accordion-btn-padding-x: 3rem;
}
.form-control{
	--bs-body-bg:#5CA1B7B2;
	--bs-body-color:#ffffff;
	--bs-border-width:0;
}
.btn-primary {
	--bs-btn-color: #fff;
    --bs-btn-bg: #D5635F;
    --bs-btn-border-color:  #D5635F;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg:  #e78c88;
    --bs-btn-hover-border-color: #e78c88;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #D5635F;
    --bs-btn-active-border-color: #D5635F;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #D5635F;
    --bs-btn-disabled-border-color: #D5635F;
    --bs-btn-border-radius:13px;
    --bs-btn-border-width:0px
}
.nav-pills {
	--bs-nav-pills-link-active-bg:#ffffff;
	--bs-nav-pills-link-active-color:#D5635F;
	--bs-nav-link-font-size: 20px;
	--bs-nav-link-font-weight:500;
}
.navbar-nav {
    --bs-nav-link-color: #838383;
    --bs-nav-link-font-weight:600;
    --bs-nav-link-font-size:16px;
    --bs-navbar-nav-link-padding-x:20px;
}
.card{
	--bs-card-bg:#F7F7F9;
	--bs-border-width:0px;
	--bs-card-spacer-y:0px;
	--bs-card-spacer-x:0px;
}

.bg-color-blue{
	background: #69A7BA;
}
.bg-color-red{
	background: #D5635F;
}
.bg-color-grey{
	background: #F7F7F9;
}
.btn-exit{
	--bs-btn-active-bg:  #ffffff;
	--bs-btn-active-color: #000;
}
.fsz-0{
   font-size:16px;
}
.fsz-1, .fsz-1-h{
   font-size:22px;
}
.fsz-2, .fsz-25-h {
   font-size:25px;
}
.fsz-3{
	font-size:30px;
}
.fsz-2-h, .fsz-3-h, .fsz-4-h{
	font-size:33px;
}
.fsz-5{
	font-size:55px;
}
.tc-white{
	color:#ffffff;
}
.grid-1{
	grid-gap: 25px;
}
.grid-2{
	grid-gap: 65px;
}
.mb-2rem, .mb-7{
  margin-bottom: 2rem !important;
}
.mb-6 {
  margin-bottom: 3.5rem !important;
}
.form-check-input:checked {
    background-color: #D5635F;
    border-color: #D5635F;
}
.form-control:focus, .form-check-input:focus{
  border-color: transparent;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(213, 99, 95, 0.25);
}
.header-exit nav {
    padding: 20px 35px 20px 40px;
}
.header nav {
    background: #F7F7F9;
    padding: 20px 30px 20px 50px;
}
.navbar-nav{
	align-items: center;
    justify-content: center;
    width: 100%;
}
.btn{
	font-size: 25px;
    font-weight: 700;
    padding: 10px 45px;
}
.fon-red{
	background: #D5635F;
}
.btn-exit{
	background: #ffffff;
	color:#414141;
	font-weight: 600;
	font-size:16px;
	text-transform: lowercase;
	padding: 4px 45px 4px 20px!important;
	position: relative;
	margin: 0;
}
.btn-exit:hover{
	background: #ffffff;
	opacity: 0.8;
	color:#000;
}
.btn-exit2{
	padding: 10px 105px;
	font-size: 30px;
}
.title-red h2{
	color: #D5635F;
	font-weight: 700;
	font-size: 33px;
}
.header-exit .nav-link{
	color:#ffffff;
	font-weight: 600;
	font-size: 16px;
}
.btn-exit:before {
    opacity: 1;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 10px;
    width: 25px;
    height: 25px;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/opendoor.svg);
    transition: opacity .15s ease-in-out;
    content: "";
}
.form-control {
	font-weight: 700;
	font-size: 22px;
	padding: 0px 30px;
}
.form-exit .form-control {
	font-weight: 500;
	padding: 10px 45px;
}
.form-control::placeholder {
	color:#ffffff;
}
.footer{
	font-weight: 400;
	font-size: 11px;
	color: rgba(0, 0, 0, 0.7);
	line-height: 1;
	background: #F7F7F9;
	margin-bottom: 40px;
	margin-top: 25px;
}
.text-footer, .copy{
    padding-left: 0.5rem;
}
.header-exit{
	padding: 0;
}

.exit-bankid{
	font-weight: 400;
	font-size: 25px;
}

.exit-w-pasw a{
	color:#414141;
	font-style:italic;
	font-size: 19px;
	font-weight: 250;
}
.exit-w-pasw{
	margin-bottom: 25px;
    margin-top: 60px;
    width:240px;
    margin-right: auto;
    margin-left: auto;
}

.accordion-button{
	font-weight: 600;
	font-size: 25px;
}
.accordion-collapse{
	font-size: 22px;
	font-weight: 500;
	border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
.accordion{
	margin-top: 50px;
}
.accordion-item{
	margin-bottom: 15px;
}
.accordion-button:focus {
  border-color: transparent;
  box-shadow: none;
}
.accordion-button[aria-expanded="true"] {
	color: var(--bs-accordion-color);
    background: #D5635F;
    font-weight: 700;
    border-bottom-right-radius: 0!important;
    border-bottom-left-radius: 0!important;
}
header{
    margin-bottom: 65px;
}
.footer .nav-link {
	color: #000000B2;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
}
.footer .navbar-nav {
    justify-content: left;
}
.footer .navbar{
	padding: 0;
}
.accordion-button::after {
    background-image: url(../images/Vector9.svg);
}

h2{
	font-size: 33px;
	font-weight: 800;
	line-height: 40px;
}

.box-shadow-menu {
  	position: relative;
    width: 59px;
    height: 40px;
}
.box-shadow-menu:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 59px;
    height: 10px;
    background: #5CA1B7;
    box-shadow: 0 15px 0 0 #5CA1B7, 0 30px 0 0 #5CA1B7;
    border-radius: 10px;
}
.name-profile{
	font-size: 16px;
	font-weight: 700;
	color:#000000;
}
.user-info{
	padding-left: 10px;
}
.py-44 {
  padding-top: 2.5rem !important;
  padding-bottom: 1.5rem !important;
}
.current-data{
	color: #D5635F;
	font-weight: 300;
	font-size: 16px;
}
.asset-value{
	font-size: 26px;
	font-weight: 700;
}

.flex-grow-3{
	flex-grow:3;
}
.fixed_header {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}
.fixed_header tbody {
    display: block;
    width: 100%;
    overflow: auto;
    height: 125px;
    color: #5CA1B7;
    font-size: 18px;
    font-weight: 400; 
    margin-top: 10px;
}
.fixed_header tbody::-webkit-scrollbar {
  width: 7px;
}

.fixed_header tbody::-webkit-scrollbar-track {
  background-color: #D9D9D9
  border-radius: 30px;
}

.fixed_header tbody::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-image: linear-gradient(180deg, #D9D9D9 0%, #D9D9D9 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}
.fixed_header thead tr {
    display: block;
}
.fixed_header thead th {
    background: #5CA1B7B2;
    color: #fff;
    font-size: 22px;
    font-weight: 500; 

}
.fixed_header thead th:last-child {
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
}
.fixed_header thead th:first-child {
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
}
.fixed_header th,
.fixed_header td {
    padding: 0 0 5px 10px;
    text-align: left;
    width: 200px;
}
.photo-anketa{
	width:218px;
	height: 225px;
	overflow: hidden;
}
.photo-anketa img{
	border-radius: 30px;
	width: 100%;
}
label{
	font-weight: 500;
	font-size: 12px;
	padding-left: 30px;
}
.form-label {
    margin-bottom: 0rem;
}
.pxy-1{
	padding: 35px 45px 35px 25px;
}
.pxy-2{
	padding: 45px 60px 35px 35px;
}
.pxy-3 {
    padding: 45px 60px 45px 35px;
}
.form-white .form-control{
	--bs-body-bg:#ffffff;
	--bs-body-color:#5CA1B7;
	box-shadow: 0px 4px 4px 0px #0000001A;
}
.form-white .form-control::placeholder {
	color:#5CA1B7;
}
.form-check-label{
	font-weight: 500;
	font-size: 16px;
	padding-left: 10px;
}
.form-check-input {
    width: 23px;
    height: 23px;
    --bs-border-color:#000000;
    --bs-form-check-bg:#F7F7F9;
}
.form-check-input[type=checkbox] {
    border-radius: 0;
}
.form-text-file{
	color:#D5635F;
	font-size: 16px;
	font-weight: 500;
	font-style: italic;
}
.form-label-file{
	padding: 15px 0;
}
.form-control[type=password]::placeholder{
	position: absolute;
	top:10px;
}
.content {
    	flex: 1
}
.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus { outline: none; }

.flickity-viewport {
  position: relative;
  height: 100%;
   overflow: hidden;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.js-flickity{
	margin: 100px 0 80px 0;
}
.per-yield{
	padding-left:45px;
}
.border-b{
	border-bottom: 2px solid #8383839c;
}
.block-user-photo-small{
	width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 15px;
}
.block-user-photo-small img{
	width:100%;
}
.form-check {
    padding-left: 2.5em;
}
.form-check .form-check-input {
    margin-left: -2.5em;
}
/* бокове меню*/
.nav-pills .nav-link {
  transition: color 0s ease-in-out, background-color 0s ease-in-out, border-color 0s ease-in-out;
}
.nav-pills .nav-link{
	font-weight: 500;
	color:#fff;
	padding-bottom: 14px;
    padding-top: 14px;
    position: relative;
}
.nav-pills .nav-link.active, .nav-pills .nav-link:hover{
	font-weight: 700;
	border-top-left-radius: 60px;
	border-bottom-left-radius: 60px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.nav-pills .nav-link:hover #info-menu:before{
    background-image: url(../images/info_red.svg);
}
.nav-pills .nav-link:hover #oplata-menu:before{
   	background-image: url(../images/oplata-red.svg);
}
.nav-pills .nav-link:hover	#document-menu:before{
	background-image: url(../images/document-red.svg);
}
.nav-pills .nav-link:hover	#wallet-menu:before{
	background-image: url(../images/Wallet-red.svg);
}
.nav-pills .nav-link:hover	#terms-menu:before{
	background-image: url(../images/terms-red.svg);
}
.nav-pills .nav-link:hover	#user-menu:before{
	background-image: url(../images/user_red.svg);
}
.nav-pills .nav-link:hover	#question-menu:before{
	background-image: url(../images/question-red.svg);
}
.nav-pills .nav-link:hover .radius-top{
    	opacity: 1;
    	position: absolute;
    	top: -13px;
    	-webkit-transform: translateY(-50%);
    	transform: translateY(-50%);
    	right: 0px;
    	width: 26px;
    	height: 26px;
    	background-position: 50%;
    	background-size: contain;
    	background-repeat: no-repeat;
    	background-image: url(../images/r1.png);
    	transition: opacity .15s ease-in-out;
    	content: "";
}
.nav-pills .nav-link:hover .radius-bottom{
    	opacity: 1;
    	position: absolute;
    	bottom: -38px;
    	-webkit-transform: translateY(-50%);
    	transform: translateY(-50%);
    	right: 0;
    	width: 21px;
    	height: 26px;
    	background-position: 50%;
    	background-size: contain;
    	background-repeat: no-repeat;
    	background-image: url(../images/r2.png);
    	transition: opacity .15s ease-in-out;
    	content: "";
}
.nav-pills .nav-link:hover{
	background: #ffffff;
	color:#D5635F;
	z-index: 100;
}
.menu-sidebar {
    width: 320px;
    margin-right: 16px;
    flex-shrink: 0;
    position: relative;
}
.menu-sidebar>div{
	padding: 65px 0 50px 35px;
}
.menu-sidebar-logo{
	padding: 0 0 95px 25px;
}
.nav-pills li{
	position: relative;
}
.active .radius-top{
    opacity: 1;
    position: absolute;
    top: -13px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0px;
    width: 26px;
    height: 26px;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/r1.png);
    transition: opacity .15s ease-in-out;
    content: "";
}
.active .radius-bottom{
    opacity: 1;
    position: absolute;
    bottom: -38px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    width: 21px;
    height: 26px;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/r2.png);
    transition: opacity .15s ease-in-out;
    content: "";
}
.text-menu{
	padding-left: 40px;
}
.text-menu:before{
	opacity: 1;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 25px;
    width: 25px;
    height: 25px;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    transition: opacity .15s ease-in-out;
    content: "";
}
.active #info-menu:before{
    background-image: url(../images/info_red.svg);
}
.active #oplata-menu:before{
   background-image: url(../images/oplata-red.svg);
}
.active #document-menu:before{
	background-image: url(../images/document-red.svg);
}
.active #wallet-menu:before{
	background-image: url(../images/Wallet-red.svg);
}
.active #terms-menu:before{
	background-image: url(../images/terms-red.svg);
}
.active #user-menu:before{
	background-image: url(../images/user_red.svg);
}
.active #question-menu:before{
	background-image: url(../images/question-red.svg);
}
#info-menu:before{
    background-image: url(../images/info.svg);
}
#oplata-menu:before{
   background-image: url(../images/oplata.svg);
}
#document-menu:before{
	background-image: url(../images/document.svg);
}
#wallet-menu:before{
	background-image: url(../images/Wallet.svg);
}
#terms-menu:before{
	background-image: url(../images/terms.svg);
}
#user-menu:before{
	background-image: url(../images/user.svg);
}
#question-menu:before{
	background-image: url(../images/question.svg);
}
/* кінець бокового меню*/

@media (min-width: 1300px) {
	.container-xxl {
    	max-width: 1300px;
  	}
	.d-xll-flex {
    	display: flex !important;
  	}

  	.content {
    	max-width: calc(100% - 8px* 37);
	}
}

@media (min-width: 1200px){
	.header-exit .navbar-expand-lg .navbar-nav .nav-link {
    	padding-right: 25px;
    	padding-left: 25px;
	}
}

@media (min-width: 992px) {
	.mobile-block{
		display: none!important;
	}
	.w-35{
  		width:280px;
  	}
  	.form-white-dekstop .form-control{
  		--bs-body-bg:#ffffff;
		--bs-body-color:#5CA1B7;
		box-shadow: 0px 4px 4px 0px #0000001A;
  	}
  	.form-control[type=password]::placeholder{
		color:#5CA1B7;
	}
	.form-exit .form-control[type=password]::placeholder{
		color:#ffffff;
	}
}
@media (min-width: 992px) and (max-width: 1299px) {
	.menu-sidebar>div {
    	padding: 65px 0 50px 10px;
	}
	.header nav {
    	padding: 20px 10px 20px 20px;
	}
	.navbar-expand-lg .navbar-nav .nav-link {
    	padding-right: 10px;
    	padding-left: 10px;
	}
	.col-6-md{
		width: 50%;
	}
	.menu-sidebar {
    	width: 290px;
	}
	.pxy-2 {
    	padding: 45px 35px 35px 35px;
	}
	.btn {
    	padding: 10px 20px;
	}
}

@media (min-width: 600px) and (max-width: 991px) {
	.px-lap{
	    padding-left: 55px!important;
    	padding-right: 55px!important;
	}
}

@media (min-width: 600px) {
	.d-m600-flex{
		display: flex!important;
	}
}

@media (max-width: 991px) {
	.content {
    	max-width: 100%;
	}
	.header-exit nav {
    	background-color: #ffffff;
    	padding-right: calc(var(--bs-gutter-x)* .5);
    	padding-left: calc(var(--bs-gutter-x)* .5);
    	padding-top: 0;
    	padding-bottom: 0;
	}
	.header-exit{
		margin-bottom: 5px;
	}
	.btn-exit {
    	border: 0;
    	background: #5CA1B7;
    	color: #ffffff;
    	font-size: 25px;
    	text-transform: lowercase;
    	padding: 4px 60px 10px 30px!important;
    	position: relative;
    	margin: 0;
    	border-radius: 10px;
	}
	.btn-exit:hover{
		background: #5CA1B7;
		opacity: 0.8;
		color:#ffffff;
	}
	.btn-exit:before {
    	background-image: url(../images/opendoor-mobile.svg);
    	width: 34px;
    	height: 34px;
    	right: 15px;
	}
	.mb-2rem-mob {
  		margin-bottom: 2rem !important;
	}
	.mb-5_3-mob {
  		margin-bottom: 6rem !important;
	}
	.dekstop-block{
		display: none!important;
	}
	.border-b-m{
		border-bottom: 2px solid #8383839c;
	}
	.footer .mobile-block a{
		font-size: 30px;
		font-weight: 700;
		color:#ffffff;
		text-transform: uppercase;
		text-decoration: none;
	}
	.footer {
    	background: #5CA1B7;
    	font-size: 14px;
		color: #ffffff;
		text-align: center;
		border-radius: 0!important;
		margin: 0;
		max-width: 100%;
	}
	.offcanvas {
    	--bs-offcanvas-width: 100%;
	}
	.title-red{
		text-align: center;
	}
	.mob-mb-5{
		margin-bottom: 70px;
	}
	.title-red h2 {
    	color: #414141;
    	font-weight: 600;
    	font-size: 35px;
	}
	.per-yield{
		font-weight: 700;
		padding-left:0;
	}
	.asset-value {
    	font-size: 35px;
    	font-weight: 700;
	}
	.fsz-1-h{
		font-size: 32px;
	}
	.fsz-4-h{
		font-size:45px;
	}
	.fsz-3-h{
		font-size:50px;
	} 
	.fsz-2-h, .fsz-25-h{
		font-size:35px;
	}
	.current-data{
		font-size: 25px;
	}
	label {
    	font-size: 18px;
    }
    .photo-anketa {
    	margin: 0 auto;
	}
	.btn.w-100{
		width: auto!important;
	}
	.text-mob-center {
    	text-align: center;
  	}
  	.pxy-1 {
    padding: 35px 55px 55px 55px;
	}
	.pxy-2, .pxy-3{
    padding: 55px;
	}
	.mb-mob-4{
		margin-bottom: 15px;
	}
	.mt-mob-4{
		margin-top:30px;
	}
	.my-mob-4{
		margin-top: 70px;
    	margin-bottom: 25px;
	}
	.my-mob-5 {
    	margin-top: 100px;
    	margin-bottom: 65px;
	}
	.mb-7{
		margin-bottom: 4rem!important;
	}
	.form-check-input {
    	width: 31px;
    	height: 31px
	}
	.form-check-label {
    	font-size: 20px;
	}
	.gallery-cell img {
		width: 100%;
	}
	.gallery-cell {
  		width: 80%;
  		padding: 0 12px;
	}
	.mb-mob{
		margin-bottom: 60px;
	}
	/* МЕНЮ САЙДБАР*/
	.text-menu:before {
    	left: 110px;
    	width: 50px;
    	height: 50px;
	}
	.nav-pills .nav-link{
		font-size: 37px;
		padding-left: 130px;
	}
	.nav-pills .nav-link.active{
		font-size: 40px;
	}
	.nav-pills .nav-link img{
		width:50px;
		height:50px;
	}
    .user-name{
		font-weight: 700;
		font-size:40px;
		padding: 20px 0 0 0;
		text-align: center;
	}
	.edit{
		position: absolute;
    	top: 0;
    	right: 65px;
	}
	.exit{
		position: absolute;
    	top: 0;
    	right: 0;
	}
	.btn-close-mobile{
		position: absolute;
    	top: 0;
    	left:50;
	}
	.logo-menu{
		margin-bottom: 80px;
		position: relative;
		text-align: center;
	}
	.menu-sidebar-mobile .btn-close {
		--bs-btn-close-bg: url(../images/vec.svg);
		opacity: 1;
		height: 2em;
    	padding-top: 15px;
	}
	.menu-sidebar-mobile hr{
    	color: #ffffff;
    	opacity: 0.7;
    	border-top: 2px solid;
	}
	.menu-sidebar-mobile{
		padding: 65px 65px 100px 0px;
	}
	.header-menu-sidebar{
		padding-left:65px; 
	}
	.block-user-photo{
		width: 160px;
    	height: 160px;
    	overflow: hidden;
    	border-radius: 10px;
    	border: 1px solid #ffffff;
    	margin: 0 auto;
	}
	.block-user-photo img{
		width: 100%;
	}
	.nav-pills .nav-link.active, .nav-pills .nav-link:hover{
		border-top-right-radius: 60px;
		border-bottom-right-radius: 60px;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
	}
	/* КІНЕЦЬ МЕНЮ САЙДБАР*/
}

@media (max-width: 600px) {
	/* МЕНЮ САЙДБАР*/
	.menu-sidebar-mobile {
    	padding: 20px 20px 20px 0;
	}
	.header-menu-sidebar {
    	padding-left: 20px;
	}
	.block-user-photo {
		margin: 0;
	}
	.nav-pills .nav-link.active {
    	font-size: 23px;
	}
	.nav-pills .nav-link {
    	font-size: 23px;
    	padding-left: 25px;
	}
	.text-menu:before {
    	left: 10px;
	}
	/* КІНЕЦЬ МЕНЮ САЙДБАР*/
}
